@use '../fontawesome-scss/variables'as *;


//color
$primary-color: hsl(257, 40%, 49%);
$footer-color: hsl(228, 45%, 44%);
$light-color: #fff;

//fonts
$font-stack: 'Open Sans',
sans-serif;
$headings-font: 'Poppins',
sans-serif;
$align-center: center;

//spaces
$mobile-icon: 10px;
$desktop-icon: 15px;
$xxxxSmall: 7px;
$xxxSmall: 20px;
$xxSmall: 30px;
$xSmall: 35px;
$small: 40px;
$medium: 45px;
$large: 60px;
$xLarge: 65px;
$xxLarge: 80px;
$xxxLarge: 100px;

//fontawesome icons
$facebook-icon: '\f39e';
$twitter-icon: '\f099';
$instagram-icon: '\f16d';
$icon-border: 1px solid white;

//breakpoints
$breakpoints: ('phone': 640px,
  'tablet': 768px,
  'desktop': 1440px) !default;