@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@use '../base/typography'as *;

.button-cta {
  background-color: $light-color;
  border: none;
  padding: 13px 78px;
  border-radius: 50px;
  box-shadow: 0 2px 10px 4px $dark-primary;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient($hover-color, $primary-color);
    box-shadow: 0 0px 9px 1px $light-color;
  }

  @include break-media('tablet') {
    padding: 18px 73px;
  }
}