@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;

.icon {
  &__facebook {
    padding-right: $xxxSmall;

    &:hover:before {
      color: $hover-color;
      border-color: $icon-border-color;
      transition: $transition-hover;
    }

    @include break-media('tablet') {
      padding-right: $desktop-icon;
    }

    &:before {
      @include fontawesome-icon();
      content: $facebook-icon;
      padding: 8px $mobile-icon;
      transition: $transition;

      @include break-media('tablet') {
        border: $icon-border-dktp;
        padding: $desktop-icon 14px;
      }
    }
  }

  &__twitter {
    padding-right: $xxxSmall;

    &:hover:before {
      color: $hover-color;
      border-color: $icon-border-color;
      transition: $transition-hover;
    }

    @include break-media('tablet') {
      padding-right: $desktop-icon;
    }

    &:before {
      @include fontawesome-icon();
      content: $twitter-icon;
      padding: 8px;
      transition: $transition;

      @include break-media('tablet') {
        border: $icon-border-dktp;
        padding: $desktop-icon;
      }
    }
  }

  &__instagram {
    &:hover:before {
      color: $hover-color;
      border-color: $icon-border-color;
      transition: $transition-hover;
    }

    &:before {
      @include fontawesome-icon();
      content: $instagram-icon;
      padding: 8px;
      transition: $transition;

      @include break-media('tablet') {
        border: $icon-border-dktp;
        padding: $desktop-icon;
      }
    }
  }
}