@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;

.icon {
  width: 30px;
  margin-right: $xxxSmall;

  @include break-media('tablet') {
    margin-right: $desktop-icon;
    width: 45px;
  }

  &--margin {
    margin-right: 0;
  }

  &--social {
    fill: $light-color;
    transition: $transition-hover;
  }

  &--social:hover {
    fill: $hover-color;
    transition: $transition-hover;
  }
}