@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

body {
  font-family: $font-stack;
  font-weight: 400;
  color: $light-color;
}

.app-section {

  &__content-heading {
    font-family: $headings-font;
    font-size: $mobile-heading;

    @include break-media('phone') {
      font-size: $tablet-heading;
    }

    @include break-media('desktop') {
      font-size: $desktop-heading;
    }
  }

  &__content-paragraph {
    font-size: $default-paragraph;
    line-height: 1.6;

    @include break-media('desktop') {
      font-size: $desktop-paragraph;
      line-height: 1.8;
    }
  }
}

.app-footer {

  &__attribution {
    font-size: $footer-font;

    & a {
      color: $light-color;
      transition: $transition;

      &:hover {
        color: $hover-color;
        transition: $transition;
      }
    }
  }
}

.button-cta {
  font-size: $cta-font;
  color: $primary-color;
  transition: $transition-hover;

  &:hover {
    color: $light-color;
    transition: $transition-hover;
  }

  @include break-media('tablet') {
    font-size: $default-paragraph;
  }
}