@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@use '../base/typography'as *;
@use '../layout/app-header';
@use '../layout/app-section';
@use '../layout/app-footer';

body {
  background: url(/src/images/bg-mobile.svg);
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include break-media('tablet') {
    background: url(/src/images/bg-desktop.svg);
    background-color: $primary-color;
    background-size: cover;
    background-repeat: no-repeat;
  }
}