@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@use '../base/typography'as *;
@use '../components/icons'as *;

.app-footer {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include break-media('tablet') {
    background-color: transparent;
  }

  &__social-icons {
    padding-top: 10px;

    @include break-media('tablet') {
      align-self: flex-end;
      padding-right: $xxLarge;
    }
  }

  &__attribution {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
    margin-bottom: 0;
  }
}