@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@use '../components/buttons'as *;

.app-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include break-media('tablet') {
    flex-direction: row;
  }

  &__content {
    padding-left: $small;
    padding-right: $small;
    padding-bottom: $xLarge;

    @include break-media('phone') {
      padding-left: $xxLarge;
      padding-right: $xxLarge;
    }
  }

  &__content-img {
    padding-bottom: $medium;

    @include break-media('phone') {
      padding-bottom: $xLarge;
    }

    @include break-media('tablet') {
      width: 54%;
      padding-right: 0;
      padding-bottom: 0;
    }
  }

  &__content-info {
    background-color: $primary-color;
    height: 100%;
    padding-top: $xxSmall;
    text-align: $align-center;

    @include break-media('phone') {
      padding-top: 0;
    }

    @include break-media('tablet') {
      background-color: transparent;
      width: 46%;
      padding-top: $medium;
      padding-bottom: 0;
      padding-left: $large;
      text-align: $align-left;
    }
  }

  &__content-heading {
    padding-bottom: $xxxSmall;
  }

  &__content-paragraph {
    padding-bottom: $mobile-icon;
  }

  &__image {
    max-width: 100%;
  }
}